In [4]:
import pandas as pd 
import numpy as np
import streamlit as st
import plotly.express as px

In [56]:
df= pd.read_csv('../vgchartz_2024.csv')

In [62]:
df.info() 
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [128]:
df= df.drop(df.columns[0], axis =1)
df.info() 
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 5362 entries, 1 to 64013
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         5362 non-null   object
 1   console       5362 non-null   object
 2   genre         5362 non-null   object
 3   publisher     5362 non-null   object
 4   developer     5362 non-null   object
 5   critic_score  5362 non-null   float64
 6   total_sales   5362 non-null   float64
 7   na_sales      5362 non-null   float64
 8   jp_sales      5362 non-null   float64
 9   pal_sales     5362 non-null   float64
 10  other_sales   5362 non-null   float64
 11  release_date  5362 non-null   datetime64[ns]
 12  last_update   5362 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 586.5+ KB

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-03-01
7,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26,2018-02-11
8,Call of Duty: Black Ops II,X360,Shooter,Activision,Treyarch,8.4,13.86,8.27,0.07,4.32,1.20,2012-11-13,2018-07-04
9,Call of Duty: Black Ops II,PS3,Shooter,Activision,Treyarch,8.0,13.80,4.99,0.65,5.88,2.28,2012-11-13,2018-07-04
15,FIFA 18,PS4,Sports,EA Sports,EA Vancouver,8.3,11.80,1.27,0.15,8.64,1.73,2017-09-29,2018-02-04

In [86]:
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')
print(df['release_date'].head())

1    2014-11-18
7    2018-10-26
8    2012-11-13
9    2012-11-13
15   2017-09-29
Name: release_date, dtype: datetime64[ns]

In [106]:
df = df.dropna(subset=['release_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5362 entries, 1 to 64013
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           5362 non-null   object
 1   title         5362 non-null   object
 2   console       5362 non-null   object
 3   genre         5362 non-null   object
 4   publisher     5362 non-null   object
 5   developer     5360 non-null   object
 6   critic_score  5362 non-null   float64
 7   total_sales   5362 non-null   float64
 8   na_sales      5362 non-null   float64
 9   jp_sales      5362 non-null   float64
 10  pal_sales     5362 non-null   float64
 11  other_sales   5362 non-null   float64
 12  release_date  5362 non-null   datetime64[ns]
 13  last_update   5362 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 628.4+ KB

In [92]:
df['last_update'] = pd.to_datetime(df['last_update'], format='%Y-%m-%d', errors='coerce')
print(df['last_update'].head())

1    2018-03-01
7    2018-02-11
8    2018-07-04
9    2018-07-04
15   2018-02-04
Name: last_update, dtype: datetime64[ns]

In [108]:
df = df.dropna(subset=['last_update'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5362 entries, 1 to 64013
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           5362 non-null   object
 1   title         5362 non-null   object
 2   console       5362 non-null   object
 3   genre         5362 non-null   object
 4   publisher     5362 non-null   object
 5   developer     5360 non-null   object
 6   critic_score  5362 non-null   float64
 7   total_sales   5362 non-null   float64
 8   na_sales      5362 non-null   float64
 9   jp_sales      5362 non-null   float64
 10  pal_sales     5362 non-null   float64
 11  other_sales   5362 non-null   float64
 12  release_date  5362 non-null   datetime64[ns]
 13  last_update   5362 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 628.4+ KB

In [98]:
df['total_sales'] = df['total_sales'].fillna(0)
df['na_sales'] = df['na_sales'].fillna(0)
df['jp_sales'] = df['jp_sales'].fillna(0)
df['pal_sales'] = df['pal_sales'].fillna(0)
df['other_sales'] = df['other_sales'].fillna(0)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5362 entries, 1 to 64013
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           5362 non-null   object
 1   title         5362 non-null   object
 2   console       5362 non-null   object
 3   genre         5362 non-null   object
 4   publisher     5362 non-null   object
 5   developer     5360 non-null   object
 6   critic_score  5362 non-null   float64
 7   total_sales   5362 non-null   float64
 8   na_sales      5362 non-null   float64
 9   jp_sales      5362 non-null   float64
 10  pal_sales     5362 non-null   float64
 11  other_sales   5362 non-null   float64
 12  release_date  5362 non-null   datetime64[ns]
 13  last_update   5362 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 628.4+ KB

In [102]:
median_critic_score = df['critic_score'].median()
df['critic_score'] = df['critic_score'].fillna(median_critic_score)
print(df['critic_score'].median())

8.0

In [104]:
df.info() 
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 5362 entries, 1 to 64013
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           5362 non-null   object
 1   title         5362 non-null   object
 2   console       5362 non-null   object
 3   genre         5362 non-null   object
 4   publisher     5362 non-null   object
 5   developer     5360 non-null   object
 6   critic_score  5362 non-null   float64
 7   total_sales   5362 non-null   float64
 8   na_sales      5362 non-null   float64
 9   jp_sales      5362 non-null   float64
 10  pal_sales     5362 non-null   float64
 11  other_sales   5362 non-null   float64
 12  release_date  5362 non-null   datetime64[ns]
 13  last_update   5362 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 628.4+ KB

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-03-01
7,/games/boxart/full_4653215AmericaFrontccc.jpg,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26,2018-02-11
8,/games/boxart/full_1977964AmericaFrontccc.jpg,Call of Duty: Black Ops II,X360,Shooter,Activision,Treyarch,8.4,13.86,8.27,0.07,4.32,1.20,2012-11-13,2018-07-04
9,/games/boxart/full_4649679AmericaFrontccc.png,Call of Duty: Black Ops II,PS3,Shooter,Activision,Treyarch,8.0,13.80,4.99,0.65,5.88,2.28,2012-11-13,2018-07-04
15,/games/boxart/full_5257064AmericaFrontccc.jpg,FIFA 18,PS4,Sports,EA Sports,EA Vancouver,8.3,11.80,1.27,0.15,8.64,1.73,2017-09-29,2018-02-04

In [110]:
missing_developers = df[df['developer'].isna()]
print(missing_developers[['title', 'console']])

                 title console
55431  My Friend Pedro      NS
55432  My Friend Pedro      PC

In [126]:
df.loc[(df['title'] == 'My Friend Pedro') & (df['console'].isin(['NS', 'PC'])), 'developer'] = 'DeadToast Entertainment'
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5362 entries, 1 to 64013
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           5362 non-null   object
 1   title         5362 non-null   object
 2   console       5362 non-null   object
 3   genre         5362 non-null   object
 4   publisher     5362 non-null   object
 5   developer     5362 non-null   object
 6   critic_score  5362 non-null   float64
 7   total_sales   5362 non-null   float64
 8   na_sales      5362 non-null   float64
 9   jp_sales      5362 non-null   float64
 10  pal_sales     5362 non-null   float64
 11  other_sales   5362 non-null   float64
 12  release_date  5362 non-null   datetime64[ns]
 13  last_update   5362 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 628.4+ KB